<section class="about-section" id="about">
  <div class="about-container container">
    <div class="about-content">
      <h2 class="about-title title">About the Game</h2>
      <p class="about-text">
        One day, a wild tornado swept across the world of Jolly.<br>It tore off roofs, tangled the roads, and scattered everything
        that was important to the inhabitants.<br>Now this world stands silent and a little lost — and it’s waiting just for you.
      </p>
      <p class="about-text">
        Along the way, you’ll meet quirky helpers: a comedian who laughs at the wrong things; a trickster who helps by accident;
        a loafer who does everything very slowly, but at just the right moment.<br>They’re imperfect, but truly yours
    </div>
    <div class="about-image-wrapper">
      <img src="../img/webp/img_about.webp" alt="Jolly Match 3 Gameplay" class="about__image" />
    </div>
  </div>
    
</section>