<section class="benefits-section" id="benefits">
    <div class="container benefits-container">
            <h2 class="benefits-title">Benefits</h2>
        <div class="benefits-grid">
            <ul class="benefits-list">
                <li class="benefit-item">
                    <svg class="benefit-icon" width="24" height="24">
                        <use href="/img/icons.svg#Vector-2"></use>
                    </svg>
                    <h3 class="benefit-title">No ads, no extra noise.</h3>
                </li>
                <li class="benefit-item">
                <svg class="benefit-icon" width="24" height="24">
                    <use href="/img/icons.svg#Vector-2"></use>
                </svg>
                <h3 class="benefit-title">Works offline any time.</h3>
                </li>
                <li class="benefit-item">
                <svg class="benefit-icon" width="24" height="24">
                    <use href="/img/icons.svg#Vector-2"></use>
                </svg>
                <h3 class="benefit-title">Hundreds of levels — easy and tricky.</h3>
                </li>
                <li class="benefit-item">
                <svg class="benefit-icon" width="24" height="24">
                    <use href="/img/icons.svg#Vector-2"></use>
                </svg>
                <h3 class="benefit-title">Updated regularly and reliably.</h3>
                </li>
                <li class="benefit-item">
                <svg class="benefit-icon" width="24" height="24">
                    <use href="/img/icons.svg#Vector-2"></use>
                </svg>
                <h3 class="benefit-title">Team events or a comfortable solo mode.</h3>
                </li>
            </ul>
        </div>
       <div class="benefits-image-wrapper">
        <img src="/img/webp/img_benefits.webp" alt="Benefits">
       </div>
    </div>
</section>