<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
  <h2 class="gallery-title">Game Gallery</h2>

  <div class="gallery-track">
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source srcset="../img/webp/img.webp, ../img/webp/img-d.webp" />
          <img src="../img/webp/img-d.webp" alt="Game One" loading="lazy" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="../img/webp/img1.webp, ../img/webp/img1-d.webp" />
          <img src="../img/webp/img1-d.webp" alt="Game Three" loading="lazy" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="../img/webp/img2.webp, ../img/webp/img2-d.webp" />
          <img src="../img/webp/img2-d.webp" alt="Game Two" loading="lazy" />
        </picture>
      </li>
      <li class="gallery-item">   
        <picture>
          <source srcset="../img/webp/img3.webp, ../img/webp/img3-d.webp" />
          <img src="../img/webp/img3-d.webp" alt="Game Four" loading="lazy" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="../img/webp/img4.webp, ../img/webp/img4-d.webp" />
          <img src="../img/webp/img4-d.webp" alt="Game Five" loading="lazy" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="../img/webp/img5.webp, ../img/webp/img5-d.webp" />
          <img src="../img/webp/img5-d.webp" alt="Game Six" loading="lazy" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="../img/webp/img6.webp, ../img/webp/img6-d.webp" />
          <img src="../img/webp/img6-d.webp" alt="Game Seven" loading="lazy" />
        </picture>
      </li>
     
    </ul>
  </div>

  </div>
</section>