<section class="gallery-section" id="gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title">Game Gallery</h2>

        <div class="gallery-track">
            <div class="gallery-item">
                <img src="/img/webp/img-d.webp" alt="Game One" loading="lazy">
            </div>
            <div class="gallery-item">
                <img src="/img/webp/img1-d.webp" alt="Game Two" loading="lazy">
            </div>
            <div class="gallery-item">
                <img src="/img/webp/img2-d.webp" alt="Game Three" loading="lazy">
            </div>
            <div class="gallery-item">
                <img src="/img/webp/img3-d.webp" alt="Game Four" loading="lazy">
            </div>
            <div class="gallery-item">
                <img src="/img/webp/img4-d.webp" alt="Game Five" loading="lazy">
            </div>
            <div class="gallery-item">
                <img src="/img/webp/img5-d.webp" alt="Game Six" loading="lazy">
            </div>
            <div class="gallery-item">
                <img src="/img/webp/img6-d.webp" alt="Game Seven" loading="lazy">
            </div>
        </div>
    </div>
</section>