<header class="header">
  <div class="container header-container">
    <div class="logo"><a href="/index.html"><img src="/img/webp/Logo.webp" alt=""></a></div>
        <!-- Кнопка відкриття -->

    <button data-action="open" class="burger-open" type="button">
      <svg width="30" height="20">
        <use href="/img/icons.svg#Vector-burger"></use>
      </svg>
    </button>
    <div data-visible="close" id="burger-menu" class="burger-menu">
      <div class="burger-header">
        <button data-action="close" class="burger-close" aria-label="Close menu" type="button">
          <svg class="icon-close" width="24" height="24">
            <use href="/img/icons.svg#Vector-close"></use>
          </svg>
        </button>
      </div>

    
        <ul class="nav-list">
          <li class="header-nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="header-nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="header-nav-item">
            <a href="#gallery" class="nav-link">Gallery</a>
          </li>
          <li class="header-nav-item">
            <a href="#howtoplay" class="nav-link">How to Play</a>
          </li>
          <li class="header-nav-item">
            <a href="#benefits" class="nav-link">Benefits</a>
          </li>
          <li class="header-nav-item">
            <a href="#whyus" class="nav-link">Why Us</a>
          </li>
          <li class="header-nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
          <li class="header-nav-item">
            <a href="#updates" class="nav-link">Updates</a>
          </li>
        </ul>
  </div>
</header>
