<section class="hero-section" id="home">
    <div class="hero container">
       <div class="hero-content">
        <h1 class="hero-title">
                <img src="../img/webp/Title.webp" alt="Jolly Match">
        </h1>
        
        <p class="hero-description">
            storm’s done. time to rebuild the fun.
        </p>
        
        <a href="https://play.google.com/store/apps/details?id=com.jollyco.jollybattlematch3&hl=en&gl=us" class="store-button" aria-label="Get Jolly Match on Google Play">
            <img src="../img/webp/Playstore.webp" alt="" class="store-button__icon" />
        
            <span class="store-button__text">
                <span class="store-button__label">GET IT ON</span>
                <span class="store-button__store">Google Play</span>
            </span>
        </a>
       </div>
    </div>

    <div class="cookie-wrapper container">
        <div id="cookie-policy" class="cookie-policy container hidden">
            <div class="cookie-text">
                <p>
                    We use cookies to enhance your experience while using our website. By continuing to use this site, you consent to our
                    use of cookies.
                </p>
            </div>
            <div class="cookie-buttons">
                <button class="accept-btn" type="button">Accept</button>
                <button class="decline-btn" type="button">Reject</button>
            </div>
        </div>
    </div>
</section>