<section class="how-to-play-section" id="howtoplay">
    <div class="container how-to-play-container">
        <h2 class="how-to-play-title">How to Play</h2>
        <div class="how-to-play-content">
        <div class="how-to-play-step">
            <p class="step-description">1</p>
            <h3 class="step-title">Swipe to move and set up your next Big Match</h3>
            
        </div>  
        <div class="how-to-play-img"><img src="/img/webp/arrow.webp" alt="arrow"></div>
        <div class="how-to-play-step">
            <p class="step-description">2</p>
            <h3 class="step-title">
                Combine matching pieces to trigger powerful reactions
            </h3>
        </div>
        
        <div class="how-to-play-img">
            <img src="/img/webp/arrow.webp" alt="arrow" class="arrow arrow--mobile" aria-hidden="true" />
            <img src="/img/webp/arrow-up.webp" alt="arrow" class="arrow arrow--desktop" aria-hidden="true" />
        </div>
 <div class="how-to-play-step">
            <p class="step-description">3</p>
            <h3 class="step-title">Clear space on the board to stay in control of the game</h3>
            
        </div>
        <div class="how-to-play-img"><img src="/img/webp/arrow.webp" alt="arrow"></div>
        <div class="how-to-play-step">
            <p class="step-description">4</p>
            <h3 class="step-title">Build chain reactions to unlock bigger wins and progress</h3>
        </div>
        </div>
    </div>
</section>