<section class="reviews-section" id="reviews">
    <div class="container reviews-container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="reviews-list-wrapper">
        <ul class="reviews-list">
            <li class="review-item">
                <p class="review-text">“Played it during commute, lost track of time.”</p>
                <div class="review-author">
                    <img src="/img/webp/Mia.webp" alt="Jane" width="40">
                    <span class="author-name">Jane</span>
                </div>
            </li>
            <li class="review-item">
                <p class="review-text">“Too many cookies, still addictive.”</p>
                <div class="review-author">
                    <img src="/img/webp/man.webp" alt="Mike" width="40">
                    <span class="author-name">David</span>
                </div>
            </li>
            <li class="review-item">
                <p class="review-text">“Finally a puzzle game that doesn’t shove ads.”</p>
                <div class="review-author">
                    <img src="/img/webp/wman.webp" alt="Sara" width="40">
                    <span class="author-name">Mary</span>
                </div>
            </li>
            
        </ul>
        </div>
    </div>
</section>