<section class="updates-section" id="updates">
    <div class="container updates-container">
        <div class="update-item">
            <h2 class="updates-title">Updates</h2>
            <p class="update-description">
            <strong>oct 30.2025</strong> <span class="updates-mob-span">— rescue challenge</span><br> save kittens, puppies, hamsters. collect paw tokens. customize them. <br><span class="updates-mob-span">also </span><strong>50 new levels
            (2101-2151)</strong>, new reward chest, smoother animation.
            </p>
        </div>
       <div class="update-image"><img src="/img/webp/img_updates.webp" alt=""></div>
        </div>
    </div>
</section>