<section class="why-us-section" id="whyus">
    <div class="container why-us-container">
       <div class="why-us-content">
        <h2 class="why-us-title">Why Us</h2>
        <p class="why-us-text">We’re just five people who wanted a match-3 game that doesn’t shout at you.We argue about cookie
            colors way more than
            reasonable adults should.<a href="#">Jolly Match</a> wasn’t part of some big plan — it just kept growing on its
            own.That’s really it.
            Nothing more.</p>
         </div>
        <div class="why-us-img">
            <img src="/img/webp/img_why-us.webp" alt="Why Us Image">
        
        </div>
    </div>
</section>