*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Baloo 2", sans-serif;
    --font3: "Work Sans", sans-serif;
    --font4: "Roboto", sans-serif;
  
      --button-default: #ff731f;
      --button-hover: #ff6000;
      --typography-black: #3c3c3c;
      --typography-wight: #fff;
      --typography-red: #ff4c4c;
      --background-beg: #f9f6ef;
      --background-light-blue: #edfdff;
      --background-wight: #fff;
      --background-red: #ff4c4c;
      --default-100: #3c3c3c;
      --default-80: #6d6d6d;
      --default-60: #9e9e9e;
      --default-40: #e6e6e6;
      --default-20: #fff;
      --secondary-link: #0040ff;
    }


body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: auto;
  margin: 0;
  background-color: var(--background-wight);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
