.benefits-container {
padding-top: 50px;
padding-bottom: 50px;
background: var(--background-beg);
}

.benefits-title {
font-family: var(--third-family);
font-weight: 700;
font-size: 32px;

line-height: 1.2;
color: var(--typography-black);
padding-bottom: 32px;
text-align: center;
}

.benefits-grid {
    padding-bottom: 40px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}

.benefit-item {
display: flex;
gap: 12px;
padding-bottom: 12px;
}

.benefit-icon {
    fill: var(--typography-black);
}

.benefit-title {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        text-align: center;
        color: var(--typography-black);
}

@media (min-width: 1200px) {
    .benefits-container {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .benefits-title {
            font-size: 52px;
            padding-bottom: 40px;
        }

                .benefits-list {
                    align-items: center;
                }

        .benefits-grid {
            padding-bottom: 60px;
        }
}