.footer-container {
    background: var(--typography-black);
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-contact, .footer-separator-li, .footer-separator-li:hover {
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: var(--typography-red);
padding-bottom: 16px;
}

.footer-separator {
    padding-bottom: 16px;
}

.footer-contact:hover,
.footer-separator-li {
    color: var(--typography-wight);
}


.footer-copy {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;

line-height: 1.5;
text-align: center;
color: var(--typography-wight);
}

.footer-contact a {
    color: var(--typography-white);
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.footer-nav-list {
    display: flex;
    gap: 60px;
}

}