.gallery-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-title {
  padding-bottom: 32px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--typography-black);
}

.gallery-track {
  display: flex;
  gap: 16px;

  width: 100%;
  max-width: 100%;
  min-width: 0;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  padding-inline: 16px;
  /* 🔑 КЛЮЧОВЕ */
  box-sizing: border-box;
}

/* Ховаємо скролбар */
.gallery-track::-webkit-scrollbar {
  display: none;
}

/* Елементи галереї */
.gallery-item {
  flex: 0 0 80%;
  scroll-snap-align: center;
  /* 🔑 КЛЮЧ */
  border-radius: 8px;
  overflow: hidden;
 height: 395px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Адаптація для великих екранів */
@media only screen and (min-width: 1200px) {
  .gallery-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .gallery-title {
    padding-bottom: 40px;
    font-size: 52px;
  }

      .gallery-item {
        flex: 0 0 30%;
        height: 533px;
        border-radius: 12px;
        margin-left: 32px;
      }
  
      .gallery-track {
        padding-inline: 0;
      }
  

  .gallery-item img {
    width: 400px;
  }
}