.gallery-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-title {
  padding-bottom: 32px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--typography-black);
}

/* Контейнер для галереї */
.gallery-track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

}

/* Ховаємо скролбар */
.gallery-track::-webkit-scrollbar {
  display: none;
}

/* Елементи галереї */
.gallery-item {
  flex: 0 0 80%;
  scroll-snap-align: center;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  max-width: 296px;
  height: auto;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

/* Адаптація для великих екранів */
@media only screen and (min-width: 1200px) {
  .gallery-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .gallery-title {
    padding-bottom: 40px;
    font-size: 52px;
  }

  .gallery-item {
    flex: 0 0 33%;
    scroll-snap-align: center;
  }

  .gallery-item img {
    max-width: 400px;
    border-radius: 12px;
  }
}