.hidden {
    display: none !important; 
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
}

.header-container {
  padding-block: 0px;
    padding-inline: 16px;
    width: 100%;
    height: 52px;
    background: var(--typography-red);
    position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
}

.logo img {
    width: 40px;
    height: auto;
    padding-top: 6px;
    border-radius: 4px;
}

.burger-open {
  width: 40px;
    position: absolute;
    top: 16px;
    right: 21px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: none;
    fill: var(--typography-wight);
    z-index: 9999;
}

.burger-menu {
  position: absolute;
  top: 52px;
  right: 0;
  display: none;
  flex-direction: column;
  z-index: 9999;
}

[data-visible="open"] {
  display: flex;
}

.burger-header {
  display: flex;
  justify-content: flex-end;

}

.burger-close {
  position: absolute;
  top: -38px;
  right: 24px;
  background-color: transparent;
  border: none;
  fill: var(--typography-wight);

}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      padding-block: 0px;
      padding-inline: 16px;
      width: 375px;
        height: 738px;
  background-image: url('../img/webp/menu-mob.webp');
  position: relative;
  z-index: -1;
}

.header-nav-item a {
  padding-bottom: 32px;
display: flex;
  font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;

    line-height: 1.5;
    text-align: center;
    color: var(--default-40);
}

.burger-item:hover {
  color: var(--dark);
}


@media screen and (min-width: 1200px) {

.header-container {
width: 1480px;
  height: 62px;
    padding-inline: 88px;
}

.logo img {
    padding-top: 11px;
}
  .burger-open, .burger-close {
    display: none;
  }

  .burger-menu {
    display: flex !important;
    top: 0px;
    height: 62px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: auto;
  }

.nav-list {
  flex-direction: row;
  padding-inline: 56px;
  width: 100%;
  height: auto;
  background-image: none;
  z-index: auto;
}

.header-nav-item a {
  padding-bottom: 0;
  padding-right: 32px;
}

}