.cookie-wrapper {
  position: relative;
}

.hero {
    padding-top: 186px;

    background-image: url(../img/webp/hero_section.webp);
    background-size: cover;
    background-position: top center;
    text-align: center;
    background-repeat: no-repeat;
}

.hero-content {
      padding-bottom: 164px;
}


.hero-title {
  padding-bottom: 20px;
}

.hero-description {
    padding-bottom: 20px;
font-family: var(--third-family);
font-weight: 700;
font-size: 32px;

line-height: 1.2;
text-transform: uppercase;
text-align: center;
color: var(--typography-wight);
}

.store-button {
border-radius: 16px;
padding-block: 14px;
padding-inline: 32px;
width: 100%;
height: 65px;

box-shadow: inset 0 4px 8px 0 rgba(115, 54, 0, 0.25);
background: var(--button-default);

display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
}

.store-button:hover {
  box-shadow: inset 0 4px 8px 0 rgba(115, 54, 0, 0.25);
    background: var(--button-hover);
}

.store-button__icon {
  width: 32px;
  height: 32px;
}

.store-button__text {
    padding: 92.5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.1;
}

.store-button__label {
  font-family: var(--font4);
font-weight: 400;
font-size: 12px;
color: var(--typography-wight);
}

.store-button__store {
  font-family: var(--font4);
font-weight: 500;
font-size: 16px;
color: var(--typography-wight);
}


@media only screen and (min-width: 1200px) {
    .hero {
          padding-top: 147px;
            padding-bottom: 85px;
            background-image: url(../img/webp/Bg.webp);
        }
    

    .hero-content {
          padding-bottom: 84px;
        width: 485px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .store-button {
        border-radius: 16px;
            padding-block: 14px;
            padding-inline: 32px;
            width: 240px;
            height: 65px;
        
    }
}


/* ============= cookie-style ================== */
body.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.cookie-policy {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: var(--typography-wight);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;

  font-family: var(--main-font-family);

}


.cookie-text p {
font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  text-align: center;
  color: #1b1b1b;
  padding-bottom: 20px;
}

.cookie-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accept-btn,
.decline-btn {
font-family: var(--font3);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--typography-wight);
  border-radius: 16px;
    padding-block: 16px;
    padding-inline: 32px;
    width: 343px;
    height: 59px;
}

.accept-btn {
  background: var(--typography-black);
  border: none;
}
.accept-btn:hover {
background: var(--default-60);
color: var(--typography-black);
}

.decline-btn {
  border: 1px solid #1b1b1b;
      color: #1b1b1b;
}
.decline-btn:hover {
background: #1b1b1b;
color: var(--typography-wight);
}


@media screen and (min-width: 1200px) {

  .cookie-policy {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
    padding: 40px 108px;
  }


  .cookie-text p {
    font-size: 18px;
    text-align: start;
  }

  .cookie-buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .accept-btn,
  .decline-btn {
    width: 184px;
  }
}